/*背景部分*/
#particles-js{
  width: 100%;
  height: 250%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  background-color:#abbaab;
}

#particles-js canvas {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -2;
}

.about_contents{
  position: absolute;
  width:80%;
  height: auto;
  left: 10%;
}

.top-prof{
  width:100%;
  position:relative;
  margin: 0 auto 1%;
}

.prof-fig-box{
  position: relative;
  width:100%;
  height: auto;
  margin: 0 auto;
}

.prof-text-box{
  position:relative;
  width:100%;
  height:auto;
  margin: 0 auto;
}

.history-box{
  width:100%;
  position: relative;
  margin:1% auto 0;
}

.prof-fig{
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.my-name{
  font-size: 3vw;
  font-family: 'Lora', serif;
  margin:5% auto 0;
}

.prof-text{
  font-size: 1.5vw;
  margin: 0 auto;
}

.history-title{
  position: relative;
  width: 100%;
  font-size: 2vw;
  font-family: 'Lora', serif;
  margin:1% auto;
}

.year-text{
  position: relative;
  font-size: 1.5vw;
  margin:1% auto 1%;
  list-style: none;
  padding-left: 0;
}

.history-text{
  position: relative;
  font-size: 1.5vw;
  margin:1% auto 1%;
  list-style: none;
}

.history-layout{
  position: relative;
  width: 100%;
  height: auto;
  margin: 1% auto;
}

.year{
  display: inline-block;
}

.history-contents{
  display: inline-block;
}