@charset "UTF-8";

header{
  font-family: 'Bree Serif', serif;
  max-width: 100%;
  margin: 3% auto;
}

dt {
	float: left ;
	clear: left ;
	margin-right: 0.1em ;
	width: 120px ;
}

dd {
	float: left ;
	margin-left: 2em ;
}

/*メニューバーの部分*/
.clear{
  clear: both;
}

.slide-toggle{
  display: none;
}

.slidemenu label{
  width: 5%;
  text-align: center;
  display: table-cell;
  float: none;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: inline-block;
  padding: 5%;
}

.slidemenu label .icon{
  font-size: 2vw;
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  line-height: 50%;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/
.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }

